body {
    background-color: wheat;
}
.cuadradoVerde {
    width:  50px;
    height: 50px;
    border:solid black 1px;
    background-color: green;
    display: inline-block;
}
.cuadradoAzul {
    width:  50px;
    height: 50px;
    border:solid black 1px;
    background-color: blue;
    display: inline-block;
}
.cuadradoRojo {
    width:  50px;
    height: 50px;
    border:solid black 1px;
    background-color: red;
    display: inline-block;
}
.cuadradoAmarillo {
    width:  50px;
    height: 50px;
    border:solid black 1px;
    background-color: yellow;
    display: inline-block;  
    /* display inline-block, convierte a este cuadrado desde display: block */
}
/* .general {
   display: flex; 
   esto es para ponerlo en la misma linea
} */




.cuadradoAnimacion {
    border:solid black 1px;
    width:  200px;
    height: 200px;
    background: red;
    animation-name: gg;
    animation-duration: 4s;
}

@keyframes gg {
    0%   {background-color: red;}
    50%  {background-color: green;}
    100% {background-color: blue;}
}