body {
    background-color: rgb(106, 107, 106);
}
.principal {
    background-color: rgb(212, 240, 219);
}
.principal {
    border: solid black 2px;
    width: 300px;
    padding: 20px;
    margin: auto;
}

.formulario1 {
    /* border: solid black 1px; */
    padding: 10px
}

/* .captcha1 {
    align-items: center;
}
.captcha1>img {
    margin: auto;
    padding:0px;
} */
img {
    border: solid black 1px;
}